.container {
  max-width: 900px;
  height: 100%;
  margin: auto;
  padding: 0px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  text-align: center;
  color: white;
  font-size: 32px;
  line-height: 75px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  padding-top: 96px;
}

.counter {
  font-weight: bold;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #ffffff;
}

.group-btn {
  text-align: center;
  padding-bottom: 128px;
}

.btn {
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #171111;
  border: none;
  padding: 14px 24px 14px 24px;
  cursor: pointer;
}

.increase-btn {
  background: #80E220;
  border-radius: 0px 40px 40px 0px;
}

.decrease-btn {
  background: #DF1125;
  border-radius: 40px 0px 0px 40px;
}

@media only screen and (max-width: 570px) {
  .header {
    padding-top: 48px;
  }
}

@media only screen and (max-width: 470px) {
  .header {
    font-size: 28px;
  }
}

@media only screen and (max-width: 410px) {
  .header {
    font-size: 24px;
  }

  .btn {
    font-size: 24px;
    padding: 10px 20px 10px 20px;
  }
}

@media only screen and (max-width: 370px) {
  .header {
    padding-top: 24px;
    font-size: 20px;
  }

  .btn {
    font-size: 18px;
    padding: 8px 18px 8px 18px;
  }
}